# ignore temp files.
*~
*.autosave

# Ignore build directories
build/

# Project files
*.kdev4
*.kate-swp
*.user

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
