# ignore temp files.
*~

# Ignore build directories
build/

# Project files
*.kdev4

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
